<h1>about</h1>
<p></p>
<h4>小組倉儲:<a href="https://github.com/40823217/stage3-bg">stage3-bg2</a></h4>
<p>---------------------------</p>
<p><strong>[注意]請各組在開始執行 Stage3 專案前, 將 Stage1 與 Stage2 各組員所參與執行的專案內容, 寫在 Stage3 的分組網站上。</strong></p>
<p><strong>-------------------------</strong></p>
<h4>小組成員(倉儲/網站):</h4>
<h4><a href="https://github.com/40823217/cd2021">40823217</a>/<a href="https://40823217.github.io/cd2021/content/index.html">40823217</a></h4>
<h4><a href="https://github.com/40823201/cd2021">40823201</a>/<a href="https://40823201.github.io/cd2021/content/">40823201</a></h4>
<h4><a href="https://github.com/40823209/cd2021">40823209</a>/<a href="https://40823209.github.io/cd2021/content/index.html">40823209</a></h4>
<h4><a href="https://github.com/40823210/cd2021">40823210</a>/<a href="https://40823210.github.io/cd2021/content/index.html">40823210</a> 李柏諺</h4>
<h4><a href="https://github.com/40823206/cd2021">40823206</a>/<a href="https://40823206.github.io/cd2021/content/index.html">40823206</a></h4>
<h4><a href="https://github.com/40823207/cd2021">40823207</a>/<a href="https://40823207.github.io/cd2021/content/index.html">40823207</a></h4>
<h4><a href="https://github.com/40823223/cd2021">40823223</a>/<a href="https://40823223.github.io/cd2021/content/index.html">40823223</a></h4>
<h4><a href="https://github.com/40823224/cd2021">40823224</a>/<a href="https://40823224.github.io/cd2021/content/index.html">40823224</a></h4>
<h1>stage1</h1>
<h4>實習目的:</h4>
<ol>
<li>利用<span>電腦輔助機械設計套件</span>執行協同任務, 找出<span>保存各設計資料版本</span>的有效方法</li>
<li>利用最有效率的方式<span>展示</span>協同產品設計過程的各相<span>關細節與關鍵技術</span></li>
<li>實習如何協同編寫淺顯易懂且內容充實的<span>產品設計簡報與結案報告</span><span> </span>(<a href="https://revealjs.com/">Reveal</a>)</li>
<li>在協同設計過程, 利用<span> </span><a href="http://mde.tw/cp2020/content/SSH.html">ssh</a><span> </span>維護個人與分組倉儲與網站</li>
<li>利用<span> </span><a href="https://git-scm.com/book/zh-tw/v2/Git-%E5%9F%BA%E7%A4%8E-%E8%88%87%E9%81%A0%E7%AB%AF%E5%8D%94%E5%90%8C%E5%B7%A5%E4%BD%9C">git remote add</a><span> </span>建立 Github 與 Gitlab 上的同步倉儲與協同設計網站</li>
</ol>
<p></p>
<p>兩人小組:</p>
<p>stage1-bg3:40823203/40823207</p>
<p><span>stage1-bg9:40823217/40823201</span></p>
<p><span>stage1-bg13:40823224/40823223</span></p>
<p><span>stage1-bg18:40823209/40823210</span></p>
<p></p>
<h2>stage1-bg3</h2>
<p>題目:傘</p>
<p>設計動機:<span>不想要淋雨曬太陽</span></p>
<p>分工:</p>
<p><a href="https://40823206.github.io/cd2021/content/index.html">40823206</a>:網頁製作、合併、更新</p>
<p><a href="https://40823207.github.io/cd2021/content/index.html">40823207</a>:繪製圖檔、模擬</p>
<p>產品組合展示</p>
<p><img alt="" height="225" src="/images/傘.png" width="400"/></p>
<h2>stage1-bg9</h2>
<p>題目:機車的空力套件</p>
<p><img caption="false" height="150" src="/images/定風翼.jpg" width="200"/></p>
<h4>設計動機:想要藉由空力套件去切割氣流，進而減</h4>
<h4>少風阻以達到騎乘時能更佳的速度，也讓整個騎乘</h4>
<h4>的過程更加穩定。</h4>
<p>分工:40823217<strong>REVEAL製作、合併網站</strong>、</p>
<p>       40823201<strong>PDF檔製作、提交請求、繪製圖檔。</strong></p>
<p><strong>小組網站及倉儲:<a href="https://github.com/40823217/stage1-bg9">倉儲</a>/<a href="https://40823217.github.io/stage1-bg9/content/index.html">網站</a></strong></p>
<p></p>
<h3>bg9設計概念</h3>
<p><img caption="false" height="267" src="/images/產品展示.jpg" width="200"/></p>
<p></p>
<p>利用鎖在機車前方的兩片風翼用來切開騎乘時所造</p>
<p>成的風阻，使機車在騎乘時更加穩定，且配合機車</p>
<p>本身的流線車形，可以使氣流更快更順的通過車體。</p>
<p></p>
<div class="slides">
<section class="stack present"></section>
</div>
<h3>bg9設計草圖</h3>
<p><img alt="" height="141" src="/images/cad草圖1.png" width="250"/></p>
<p><img alt="" height="141" src="/images/cad草圖2.png" width="250"/></p>
<p><span>(主要是利用兩片風翼來執行切割風阻的任務)</span></p>
<h3>bg9產品展示</h3>
<p><span>第一版</span></p>
<p><span><img alt="" height="141" src="/images/第一版定風翼.png" width="250"/></span></p>
<p><span>我們發現產品上有些許地方需要進一步去改進，</span><span>讓它加強</span><span>切割風阻的能</span></p>
<p><span>力，讓車體可以更加穩定</span><span>的騎乘。例如在面</span><span>風那側加上導圓角，讓氣流</span></p>
<p><span>可以更順的流過。會這樣想是</span><span>因為之前的設計是平整的面，跟圓角來比</span></p>
<p><span>會不於去切割氣</span><span>流，而且市面上的車也大多是做成流線型的樣子，專門</span></p>
<p><span>用</span><span>減少阻力的產生。</span></p>
<p>第二版</p>
<p><img alt="" height="141" src="/images/第二版定風翼.png" width="250"/></p>
<p><span>所以我們將面風處那側加上圓角，讓它可以更加快速的把氣流給分散掉</span></p>
<p><span>讓它充分去利用每個地方，去增加車體的穩定度。</span></p>
<p><span></span></p>
<p><span><img alt="" height="141" src="/images/定風翼剖面圖.png" width="250"/></span></p>
<p><span><strong>(導圓角剖面圖)</strong></span></p>
<p><span><strong></strong></span></p>
<h2>stage1-bg13</h2>
<p>分組：</p>
<p>40823223 <a href="https://github.com/40823223/cd2021">倉儲</a>／<a href="https://40823223.github.io/cd2021/content/index.html">網頁</a></p>
<p>40823224 <a href="https://github.com/40823224/cd2021">倉儲</a>／<a href="https://40823224.github.io/cd2021/content/index.html">網頁</a></p>
<p></p>
<p>兩人一組產品開發</p>
<p>W2-W3</p>
<p>兩人共同快速 (一週) 開發一組產品設計與實作模擬 (分組自評與互評, 說明遭遇問題與解決方法)</p>
<p>W4: 報告與檢討 (一週)</p>
<h3>bg13設計概念</h3>
<p><span>訂定主題：</span></p>
<p><span>stage1-bg13</span><br/><span>主題：人力軌道車</span><br/><span>高鐵太貴了，搭這個不用錢</span><br/><span>w2：繪製零件</span><br/><span>w3：模擬路徑並除錯</span><br/><span>w4：報告內容</span></p>
<p><span>討論內容：</span></p>
<p><span><img alt="" height="234" src="/images/stage3-bg13 討論1.PNG" width="500"/></span></p>
<p><span><img alt="" height="232" src="/images/stage3-bg13 討論2.PNG" width="500"/></span></p>
<p><span><img alt="" height="231" src="/images/stage3-bg13 討論3.PNG" width="500"/></span></p>
<h3>bg13設計草圖</h3>
<table style="width: 577px;">
<tbody>
<tr style="height: 74px;">
<td style="width: 140.8px; height: 74px;"><img alt="" height="103" src="/images/stage3-bg13 組合一.PNG" width="120"/></td>
<td style="width: 140.8px; height: 74px;"><img alt="" height="82" src="/images/stage3-bg13 本體.PNG" width="120"/></td>
<td style="width: 140.8px; height: 74px;"><img alt="" height="76" src="/images/stage3-bg13 拉桿.PNG" width="120"/></td>
<td style="width: 128.8px; height: 74px;"><img alt="" height="129" src="/images/stage3-bg13 輪子.PNG" width="120"/></td>
</tr>
<tr style="height: 17.325px;">
<td style="width: 140.8px; height: 17.325px; text-align: center;"><a href="https://drive.google.com/file/d/1f_Y2dMugM6ypttyOpZezUTrW-s5W4ZMM/view?usp=sharing">組合</a></td>
<td style="width: 140.8px; height: 17.325px; text-align: center;"><a href="https://drive.google.com/file/d/1x7y-U0Fpq588Hkb6T5rwELHXxCbYQXh9/view?usp=sharing">本體</a></td>
<td style="width: 140.8px; height: 17.325px; text-align: center;"><a href="https://drive.google.com/file/d/1rbJ16EtLblpbciXYs8zz4JaQj-JWzSo3/view?usp=sharing">拉桿</a></td>
<td style="width: 128.8px; height: 17.325px; text-align: center;"><a href="https://drive.google.com/file/d/1VfLjqTNDQWVQacfoiXuBH4OR1WjceHMz/view?usp=sharing">輪子</a></td>
</tr>
<tr style="height: 17px;">
<td style="width: 140.8px; height: 17px;"><img alt="" height="122" src="/images/stage3-bg13 輪桿轉接.PNG" width="50"/></td>
<td style="width: 140.8px; height: 17px;"><img alt="" height="76" src="/images/stage3-bg13 連桿.PNG" width="120"/></td>
<td style="width: 140.8px; height: 17px;"><img alt="" height="76" src="/images/Inventor_bhmAIHUz95.png" width="120"/></td>
<td style="width: 128.8px; height: 17px;"></td>
</tr>
<tr style="height: 17px;">
<td style="width: 140.8px; height: 17px; text-align: center;"><a href="https://drive.google.com/file/d/1hl1V-o6bwk0RTYUIaF4un-bETqhfTivS/view?usp=sharing">輪桿轉接</a></td>
<td style="width: 140.8px; height: 17px; text-align: center;"><a href="https://drive.google.com/file/d/1iAc8yOtCC2KB1qLw0E5nF7jnoN1tG6A6/view?usp=sharing">連桿</a></td>
<td style="width: 140.8px; height: 17px; text-align: center;"><a href="https://drive.google.com/file/d/1-3cupTKRPmICDJoDKA9-w0myvUx-1a8a/view?usp=sharing">旋轉接頭</a></td>
<td style="width: 128.8px; height: 17px;"></td>
</tr>
<tr style="height: 17px;">
<td style="width: 140.8px; height: 17px;"></td>
<td style="width: 140.8px; height: 17px;"></td>
<td style="width: 140.8px; height: 17px;"></td>
<td style="width: 128.8px; height: 17px;"></td>
</tr>
</tbody>
</table>
<p></p>
<h3>bg13產品展示</h3>
<p><span>W4報告(3/19)</span></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/5a1uyA4r6tk" title="YouTube video player" width="560"></iframe></p>
<p></p>
<p><strong>模擬內容</strong></p>
<p><strong>第一版</strong></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/LZOSuJbeLGc" title="YouTube video player" width="560"></iframe></p>
<p><strong></strong><strong><span>四連桿機構，但因設計連桿不良失敗，因設計的四連桿機構中的曲柄搖桿機構須要找到兩個固定點，但固定點只有辦法設定一個，另一個需在轉動的齒輪上，若轉動的齒輪變成固定端將無法作動，故此次設計失敗。</span></strong></p>
<p><strong><span>第二版</span></strong></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/28EcMEL3JRE" title="YouTube video player" width="560"></iframe></p>
<p><strong>重新設計了作動方式，一樣是使用連桿，但這次是把下壓的連桿另一端改成一個旋轉軸，再將軸連接一個齒輪，並將輪子上的軸也加裝了齒輪，兩個齒輪碰到後，驅動了輪子旋轉。</strong></p>
<p><strong><span></span></strong></p>
<section aria-hidden="true" class="stack future" hidden="">
<section>
<p></p>
<section aria-hidden="true" class="future"></section>
<section aria-hidden="true" class="stack future" hidden="">
<section></section>
</section>
<div class="backgrounds">
<div class="slide-background past" data-loaded="true">
<div class="slide-background-content"></div>
</div>
<div class="slide-background past" data-loaded="true">
<div class="slide-background-content"></div>
</div>
<div class="slide-background stack present" data-loaded="true">
<div class="slide-background-content"></div>
<div class="slide-background present" data-loaded="true"></div>
</div>
</div>
<p></p>
<p></p>
<p><span>四連桿機構，但因設計連桿不良失敗，因設計的四連桿機構中的曲柄搖桿機構須要找到兩個固定點，但固定點只有辦法設定一個，另一個需在轉動的齒輪上，若轉動的齒輪變成固定端將無法作動，故此次設計失敗。</span><span>四連桿機構，但因設計連桿不良失敗，因設計的四連桿機構中的曲柄搖桿機構須要找到兩個固定點，但固定點只有辦法設定一個，另一個需在轉動的齒輪上，若轉動的齒輪變成固定端將無法作動，故此次設計失敗。</span><span>四連桿機構，但因設計連桿不良失敗，因設計的四連桿機構中的曲柄搖桿機構須要找到兩個固定點，但固定點只有辦法設定一個，另一個需在轉動的齒輪上，若轉動的齒輪變成固定端將無法作動，故此次設計失敗。</span></p>
</section>
</section>
<h2>stage1-bg18</h2>
<p>專題題目介紹</p>
<p><strong>我們這組stage1-bg18 所要做的主題是「水球發射器」</strong></p>
<p><strong>動機:因為夏天將至，在這炎熱的天氣裡，總是要透過游泳、玩水來消暑。</strong></p>
<p><strong>所以我們這組便突發奇想打算設計一把能填裝水球的大砲，並將其發射出去</strong></p>
<p><strong>，以達到娛樂及消暑的部分。</strong></p>
<p><strong><img caption="false" height="225" src="/images/等角視圖.PNG" width="270"/><img alt="" height="225" src="/images/等角視圖-2.PNG" width="280"/></strong></p>
<p></p>
<h3>bg18零件組合圖</h3>
<h4>組合型態</h4>
<h4><img alt="" height="569" src="/images/34組合圖.PNG" width="300"/>四分之一剖面圖</h4>
<h4><img alt="" height="220" src="/images/水球發射器組合.PNG" width="400"/>二分之一剖面圖</h4>
<h4><img alt="" height="225" src="/images/上視圖.PNG" width="245"/>上視圖          <img alt="" height="225" src="/images/前視圖.PNG" width="135"/>前視圖</h4>
<p>零件一:桶身</p>
<p><img alt="" height="301" src="/images/桶身.PNG" width="300"/></p>
<p><span>零件二:拉桿</span></p>
<p><img alt="" height="299" src="/images/拉桿.PNG" width="300"/></p>
<p><span>零件三:拉桿彈簧</span></p>
<p><img alt="" height="298" src="/images/拉桿彈簧.PNG" width="300"/></p>
<p><span>零件四:按鈕基座</span></p>
<p><img alt="" height="301" src="/images/按鈕基座.PNG" width="300"/></p>
<p><span>零件五:按鈕彈簧</span></p>
<p><img alt="" height="300" src="/images/按鈕彈簧.PNG" width="300"/></p>
<p><span>零件六:按鈕</span></p>
<p><img alt="" height="304" src="/images/按鈕.PNG" width="300"/></p>
<p><span>零件七:檔板</span></p>
<p><img alt="" height="299" src="/images/檔片.PNG" width="300"/></p>
<p><span>零件八:模擬水球</span></p>
<p><img alt="" height="299" src="/images/模擬水球.PNG" width="300"/></p>
<h3>bg18組合零件爆炸</h3>
<p><img alt="" height="485" src="/images/爆炸圖照片.png" width="300"/></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/lzppwS8FWPI" width="560"></iframe></p>
<h3>bg18Invnetor模擬</h3>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/TCnb4KjQs40" width="560"></iframe></p>
<p></p>
<h3>bg18產品報告</h3>
<p><span>這部影片在說明我們的產品報告，內容在講述產品的內部構造、零件、動態模擬、心得分享……等</span></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/I6z_8qYPxY0" width="560"></iframe></p>
<h3>bg18PDF</h3>
<p><a href="/downloads/水球發射器.pdf">水球發射器.pdf</a></p>
<h3>bg18報告</h3>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/RD6SXI_LO1c" title="YouTube video player" width="560"></iframe></p>
<p></p>
<h1>stage2</h1>
<p><span>開始執行 Stage2 專題, 並準備在以網際 Reveal 進行簡報錄影</span></p>
<p><span>四人小組:</span></p>
<p>stage2-bg3:40823224/40823206/40823207/40823223</p>
<p><span>stage2-bg11:40823217/40823201/40823203/40823210</span></p>
<h2>stage2-bg3</h2>
<h6>分組、訂定題目</h6>
<p>組長: 40823223</p>
<p>組員: 40823206</p>
<p><span><span>         40823207</span></span></p>
<p><span><span>         40823224</span></span></p>
<h6>題目 : 夾娃娃機</h6>
<p><a href="https://gitter.im/stage2-bg3/community">Gitter</a></p>
<h3>bg3-模擬結果</h3>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/loWz5nwKAXI" title="YouTube video player" width="560"></iframe></p>
<div class="slides">
<section class="has-dark-background stack present" data-background="#28004D" data-background-transition="concave" data-previous-indexv="23" data-transition="slide">
<section class="present"><h10>利用軌道及伸縮機構進行 X軸及Y軸方向的作動方式模擬</h10></section>
<section aria-hidden="true" class="future" hidden="">
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" data-mce-fragment="1" frameborder="0" height="315" src="https://www.youtube.com/embed/6YaHJGjeuUA?enablejsapi=1" title="YouTube video player" width="560"></iframe></p>
<p></p>
<h5>夾爪模擬</h5>
<h10>利用齒輪及齒條機構進行Z軸方向的作動方式模擬</h10></section>
</section>
<section aria-hidden="true" class="has-dark-background future" data-background="#460046" data-background-transition="convex" data-transition="slide" hidden=""></section>
</div>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/6YaHJGjeuUA" title="YouTube video player" width="560"></iframe>夾子Z軸方向開闔的作動模擬</p>
<h3>bg3-PDF檔案</h3>
<p><iframe data-mce-fragment="1" height="480" src="https://drive.google.com/file/d/1w1-Bx8j9jrSBh83gvw2ui9aU2PIfOqPl/preview" width="640"></iframe></p>
<section aria-hidden="true" class="has-dark-background future" data-background="#460046" data-background-transition="convex" data-transition="slide" hidden=""></section>
<h3>bg3-參考資料</h3>
<div class="backgrounds">
<div class="slide-background past" data-background-hash="#003060nullnullnullnullnullnullnullzoomnull" data-background-transition="zoom" data-loaded="true">
<p><a href="http://wukcsoft.blogspot.com/2019/03/pwm-electromagnetic-grabber.html" title="相關網頁">相關網頁1-用 PWM 控制夾娃娃機夾爪</a></p>
<p><a href="https://grabcad.com/library/claw-machine-3">相關網頁2-Grabcad</a></p>
<p><a href="https://www.instructables.com/The-Claw-Game-the-Acrylic-Structure/">相關網頁3-How to Build Claw Game Structure</a></p>
</div>
<div class="slide-background past" data-background-hash="#003060nullnullnullnullnullnullnullzoomnull" data-background-transition="zoom" data-loaded="true">
<div class="slide-background-content"></div>
</div>
</div>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/Ih-PHG4zcyc" title="YouTube video player" width="560"></iframe></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/Wbz3B477hCc" title="YouTube video player" width="560"></iframe></p>
<p></p>
<h3>bg3-圖檔</h3>
<table height="258" width="366">
<tbody>
<tr>
<td style="width: 84px;">
<table height="19" width="103">
<tbody>
<tr>
<td>
<table>
<tbody>
<tr>
<td><img caption="false" height="118" src="https://40823206.github.io/cd2021/images/10.png" width="100"/></td>
<td><img alt="" height="78" src="https://40823206.github.io/cd2021/images/11.png" width="120"/></td>
<td><img alt="" height="67" src="https://40823206.github.io/cd2021/images/13.png" width="120"/></td>
<td><img alt="" height="72" src="https://40823206.github.io/cd2021/images/14.png" width="120"/></td>
</tr>
<tr>
<td style="text-align: center;"><a href="https://drive.google.com/file/d/1zBr2eFzB1aP52SsgtMG8j7HLfCKazeEw/view">連桿</a></td>
<td style="text-align: center;"><a href="https://drive.google.com/file/d/1CgyKPcSzLgB3Ue97ydUsgMSS9ejZUbyZ/view">下底盤</a></td>
<td style="text-align: center;"><a href="https://drive.google.com/file/d/10EWsN-aQlVQviLnbAxJxlPkr26N4j6mF/view">上底盤</a></td>
<td style="text-align: center;"><a href="https://drive.google.com/file/d/1B0UZRDZHWXd2jWETmtJf9a3rH3zvVXq6/view">尺條</a></td>
</tr>
<tr>
<td><img caption="false" height="125" src="https://40823206.github.io/cd2021/images/15.png" width="125"/></td>
<td><img alt="" height="120" src="https://40823206.github.io/cd2021/images/16.png" width="120"/></td>
<td><img alt="" height="120" src="https://40823206.github.io/cd2021/images/17.png" width="120"/></td>
<td><img alt="" height="120" src="https://40823206.github.io/cd2021/images/18.png" width="120"/></td>
</tr>
<tr>
<td style="text-align: center;"><a href="https://drive.google.com/file/d/13mn6GNJrANOqOxYXbWyNT_Tg9VDEbF6a/view">齒輪</a></td>
<td style="text-align: center;"><a href="https://drive.google.com/file/d/1h9Jd1l79dZsEUrv9F5THZMARjudjf6wR/view">連桿2</a></td>
<td style="text-align: center;"><a href="https://drive.google.com/file/d/1kI-S1rBEUR9m9xshOa0LzTDxR0wSUn05/view">連桿3</a></td>
<td style="text-align: center;"><a href="https://drive.google.com/file/d/1ekK68mz9OeTRIAMeVF0zgHl_4SHH6Al0/view">底座</a></td>
</tr>
<tr>
<td><img alt="" height="120" src="https://40823206.github.io/cd2021/images/19.png" width="120"/></td>
<td><img alt="" height="101" src="https://40823206.github.io/cd2021/images/2.png" width="120"/></td>
<td><img caption="false" height="120" src="https://40823206.github.io/cd2021/images/20.png" width="120"/></td>
<td><img alt="" height="87" src="https://40823206.github.io/cd2021/images/3.png" width="120"/></td>
</tr>
<tr>
<td style="text-align: center;"><a href="https://drive.google.com/file/d/1iup2OSAqf-zR_dvN5gpV_BmlTpH10i3q/view">滑塊</a></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"><a href="https://drive.google.com/file/d/1Nh_lJk6peEVaNVQ83daAFod05yslfxqw/view">連桿1</a></td>
<td style="text-align: center;"><a href="https://drive.google.com/file/d/1Ko95M1TD5Omv04TObtIPBXwwEdCTPgVO/view">墊圈</a></td>
</tr>
<tr>
<td><img alt="" height="86" src="https://40823206.github.io/cd2021/images/4.png" width="120"/></td>
<td><img caption="false" height="98" src="https://40823206.github.io/cd2021/images/6.png" width="120"/></td>
<td><img alt="" height="107" src="https://40823206.github.io/cd2021/images/8.png" width="120"/></td>
<td><img alt="" height="145" src="https://40823206.github.io/cd2021/images/9.png" width="120"/></td>
</tr>
<tr>
<td style="text-align: center;"><a href="https://drive.google.com/file/d/1sYIQ4sKJIjEghwZF96sU0mzia7VT1of0/view">鉤爪</a></td>
<td style="text-align: center;"><a href="https://drive.google.com/file/d/1rnIP7AfVFAZeTZtAUlWjRE3oKn2lXxQk/view">馬達</a></td>
<td style="text-align: center;"><a href="https://drive.google.com/file/d/1F-SF7HRA788u9uAVomkxvgPiJ8nSVdl2/view">爪子機架</a></td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td><img alt="" height="120" src="https://40823206.github.io/cd2021/images/%E5%A2%8A%E7%89%87.png" width="120"/></td>
<td><img alt="" height="120" src="https://40823206.github.io/cd2021/images/%E5%A2%8A%E7%89%871.png" width="120"/></td>
<td><img alt="" height="120" src="https://40823206.github.io/cd2021/images/%E5%A2%8A%E7%89%872.png" width="120"/></td>
<td><img alt="" height="120" src="https://40823206.github.io/cd2021/images/%E8%BD%89%E6%8A%8A.png" width="120"/></td>
</tr>
<tr>
<td style="text-align: center;"><a href="https://drive.google.com/file/d/1Cazddqtk2Yz7C7GLyAVpSFc2GXSjoB1x/view">墊片1</a></td>
<td style="text-align: center;"><a href="https://drive.google.com/file/d/1tZY42KMEQKmlGese4-YAplhxXBH3yiju/view">墊片2</a></td>
<td style="text-align: center;"><a href="https://drive.google.com/file/d/1gZ_zSghYnOGmlJ7ppVFZofuZAOwIwqSk/view">墊片3</a></td>
<td style="text-align: center;"><a href="https://drive.google.com/file/d/1qLuZg_cXjOrCyqTPgN4kT7VcAHIBnhc4/view">轉把</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td style="width: 84.8px;"></td>
<td style="width: 85.6px;"></td>
<td style="width: 85.6px;"></td>
</tr>
<tr>
<td style="width: 84px;">
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p>ssh</p>
<p></p>
</td>
<td style="width: 84.8px;"></td>
<td style="width: 85.6px;"></td>
<td style="width: 85.6px;"></td>
</tr>
<tr>
<td style="width: 84px;"></td>
<td style="width: 84.8px;"></td>
<td style="width: 85.6px;"></td>
<td style="width: 85.6px;"></td>
</tr>
<tr>
<td style="width: 84px;"></td>
<td style="width: 84.8px;"></td>
<td style="width: 85.6px;"></td>
<td style="width: 85.6px;"></td>
</tr>
<tr>
<td style="width: 84px;"></td>
<td style="width: 84.8px;"></td>
<td style="width: 85.6px;"></td>
<td style="width: 85.6px;"></td>
</tr>
<tr>
<td style="width: 84px;"></td>
<td style="width: 84.8px;"></td>
<td style="width: 85.6px;"></td>
<td style="width: 85.6px;"></td>
</tr>
<tr>
<td style="width: 84px;"></td>
<td style="width: 84.8px;"></td>
<td style="width: 85.6px;"></td>
<td style="width: 85.6px;"></td>
</tr>
<tr>
<td style="width: 84px;"></td>
<td style="width: 84.8px;"></td>
<td style="width: 85.6px;"></td>
<td style="width: 85.6px;"></td>
</tr>
<tr>
<td style="width: 84px;"></td>
<td style="width: 84.8px;"></td>
<td style="width: 85.6px;"></td>
<td style="width: 85.6px;"></td>
</tr>
<tr>
<td style="width: 84px;"></td>
<td style="width: 84.8px;"></td>
<td style="width: 85.6px;"></td>
<td style="width: 85.6px;"></td>
</tr>
</tbody>
</table>
<h3>bg3-討論</h3>
<p><a href="https://gitter.im/stage2-bg3/communityv">小組Gitter</a></p>
<p></p>
<h2>stage2-bg11</h2>
<p><strong>題目:免彎腰販賣機</strong></p>
<p><img caption="false" height="225" src="/images/自動販賣機(組合).png" width="400"/></p>
<h4><strong>設計動機</strong>:思考到一些老人、行動不便者、受傷的人可能無法彎腰</h4>
<h4>去拿取物品， 所以我們將商品出口設置在右側中間。當我們買完</h4>
<h4>商品時，商品即會掉落於斜面， 且滾動至右側平台，而當平台偵</h4>
<h4>測到重量，平台就會上升至出口處， 購買者即可不必彎腰就可以</h4>
<h4>拿去商品。</h4>
<p>分工:40823217<strong>合併網站、程式模擬</strong></p>
<p>       40823201<strong>PDF檔製作、提交請求、網頁更新</strong></p>
<p>       40823210<strong>繪製圖檔、提交請求</strong></p>
<p>       40823209<strong>REVEAL製作、提交請求、影片製作</strong></p>
<p><strong>小組網站及倉儲:<a href="https://github.com/40823217/stage2-bg11">倉儲</a>/<a href="https://40823217.github.io/stage2-bg11/content/index.html">網站</a></strong></p>
<h3>bg11模擬結果</h3>
<p>主題:免彎腰自動販賣機</p>
<p><img caption="false" height="211" src="/images/模擬第四次 .gif" width="400"/></p>
<p>模擬下載網址:<a href="https://github.com/40823217/cd2021/blob/main/downloads/%E7%AC%AC%E4%B8%89%E6%AC%A1%E6%A8%A1%E6%93%AC.ttt">模擬檔</a></p>
<p></p>
<h1>stage3</h1>
<p><span>當以兩人, 四人或八人在進行協同產品設計實習專案時, 為了讓每一位組員都必須參與各個項目的內容執行, 以 Stage3的內容而言, 共包含: </span><span>1) 動態網站維護與轉檔, 2) 倉儲內容改版與同步, 3)網際簡報編寫 , 4) 提出構想並參與討論, 5) 文獻搜尋, 6) 參數式零組件繪圖, 7) 零組件轉檔, 8) 機電系統模擬與控制, 9) 專案報告編寫與  </span><span>等九個主要項目, 在任務執行期間, 應該確實讓每一位隊員都實際執行所有任務的練習.</span></p>
<p><span></span></p>
<p>八人小組:</p>
<p>40823217(組長)/40823201/40823206/40823207/40823209/40823210/40823223/40823224</p>
<h2>W9 網頁操作</h2>
<p>1.學會如何使用ipv4。</p>
<p>2.利用老師給的分組名單，用程式推導出每個小組的網頁跟倉儲</p>
<p>還有每個組員的倉儲。</p>
<p>3.利用ipv4的[remote API]來進行遠端的操控<span>coppeliasim</span></p>
<h3>ipv4操作</h3>
<p>打開網路介面卡</p>
<p><img alt="" height="200" src="/images/1網路介面卡_LI.jpg" width="356"/></p>
<p>選擇當前使用的網路(插網路線選擇乙太網路，連接WIFI則是選擇WIFI)</p>
<p><img alt="" height="200" src="/images/2乙太網路.jpg" width="356"/></p>
<p>選擇IPv4-&gt;內容</p>
<p><img alt="" height="200" src="/images/3IPv4內容.jpg" width="356"/></p>
<p>輸入IP位址</p>
<p><img alt="" height="200" src="/images/4IP位址.jpg" width="356"/></p>
<p>打開黑窗輸入 ipconfig /all</p>
<p><img alt="" height="200" src="/images/5ipconfig.jpg" width="356"/></p>
<p>找出網路的IP並確認有沒有連到</p>
<p><img alt="" height="200" src="/images/6確認IP.png" width="356"/></p>
<p>輸入指令</p>
<p><img alt="" height="200" src="/images/7指令.jpg" width="356"/></p>
<p>確認是否連線成功</p>
<p><img alt="" height="200" src="/images/8網頁.png" width="356"/></p>
<p>進到<a href="http://mde.tw/cd2021/content/task2.html">mde.tw</a>下載4.2.0版的<a href="http://mde.tw/cad2020/content/CoppeliaSim.html">coppeliasim</a>和<a href="http://mde.tw/cad2020/downloads/coppeliasim/vrep_remoteapi_ex.7z">vrep.remoteApi</a></p>
<p><img alt="" height="200" src="/images/9下載.jpg" width="356"/></p>
<p><img alt="" height="200" src="/images/10下載.png" width="356"/></p>
<h3>task1測試</h3>
<p><span>讀取 stage3_2b.txt, 建立 Stage3 的分組倉儲, 分組網頁, 以及各組員倉儲及網頁連結</span></p>
<p><span>我參考<a href="https://github.com/40823245/cd2021">40823245</a>八人小組的[take1測試]，然後自己加以理解，還有加上老師給的程式</span></p>
<p><span>[遇到的問題]:我跑出來的分組名單，不知為何，他都只顯示一長條的，無法變成一列一列的</span></p>
<p><span>跑程式的影片:</span></p>
<p><span><iframe allowfullscreen="allowfullscreen" height="314" src="//www.youtube.com/embed/p2hVpKXlQBM" width="560"></iframe></span></p>
<p>把白窗裡的輸出複製放入網頁<br/><span></span></p>
<p>詳細教學請看下面-&gt;</p>
<p>----------------------------------------------</p>
<h4>以下為各分組倉儲, 分組網站與學員倉儲及學員網站連結:</h4>
<p><a href="http://github.com/40823245/stage3-bg1">stage3-bg1 repo</a> | <a href="http://40823251.github.io/stage3-bg1">stage3-bg1 site</a> | <a href="http://github.com/40823245/cd2021">40823245 repo</a> | <a href="http://40823245.github.io/cd2021">40823245 site</a> | <a href="http://github.com/40823251/cd2021">40823251 repo</a> | <a href="http://40823251.github.io/cd2021">40823251 site</a> | <a href="http://github.com/40823208/cd2021">40823208 repo</a> | <a href="http://40823208.github.io/cd2021">40823208 site</a> | <a href="http://github.com/40823213/cd2021">40823213 repo</a> | <a href="http://40823213.github.io/cd2021">40823213 site</a> | <a href="http://github.com/40823232/cd2021">40823232 repo</a> | <a href="http://40823232.github.io/cd2021">40823232 site</a> | <a href="http://github.com/40823234/cd2021">40823234 repo</a> | <a href="http://40823234.github.io/cd2021">40823234 site</a> | <a href="http://github.com/40823235/cd2021">40823235 repo</a> | <a href="http://40823235.github.io/cd2021">40823235 site</a> | <a href="http://github.com/40823246/cd2021">40823246 repo</a>| <a href="http://40823246.github.io/cd2021">40823246 site</a><br/>----------<br/><a href="http://github.com/40823217/stage3-bg2">stage3-bg2 repo</a> | <a href="http://40823201.github.io/stage3-bg2">stage3-bg2 site</a> | <a href="http://github.com/40823217/cd2021">40823217 repo</a> | <a href="http://40823217.github.io/cd2021">40823217 site</a> | <a href="http://github.com/40823201/cd2021">40823201 repo</a> | <a href="http://40823201.github.io/cd2021">40823201 site</a> | <a href="http://github.com/40823209/cd2021">40823209 repo</a> | <a href="http://40823209.github.io/cd2021">40823209 site</a> | <a href="http://github.com/40823210/cd2021">40823210 repo</a> | <a href="http://40823210.github.io/cd2021">40823210 site</a> | <a href="http://github.com/40823206/cd2021">40823206 repo</a> | <a href="http://40823206.github.io/cd2021">40823206 site</a> | <a href="http://github.com/40823207/cd2021">40823207 repo</a> | <a href="http://40823207.github.io/cd2021">40823207 site</a> | <a href="http://github.com/40823223/cd2021">40823223 repo</a> | <a href="http://40823223.github.io/cd2021">40823223 site</a> | <a href="http://github.com/40823224/cd2021">40823224 repo</a>| <a href="http://40823224.github.io/cd2021">40823224 site</a><br/>----------<br/><a href="http://github.com/40823236/stage3-bg3">stage3-bg3 repo</a> | <a href="http://40823202.github.io/stage3-bg3">stage3-bg3 site</a> | <a href="http://github.com/40823236/cd2021">40823236 repo</a> | <a href="http://40823236.github.io/cd2021">40823236 site</a> | <a href="http://github.com/40823202/cd2021">40823202 repo</a> | <a href="http://40823202.github.io/cd2021">40823202 site</a> | <a href="http://github.com/40823203/cd2021">40823203 repo</a> | <a href="http://40823203.github.io/cd2021">40823203 site</a> | <a href="http://github.com/40823212/cd2021">40823212 repo</a> | <a href="http://40823212.github.io/cd2021">40823212 site</a> | <a href="http://github.com/40823219/cd2021">40823219 repo</a> | <a href="http://40823219.github.io/cd2021">40823219 site</a> | <a href="http://github.com/40823222/cd2021">40823222 repo</a> | <a href="http://40823222.github.io/cd2021">40823222 site</a> | <a href="http://github.com/40823231-2/cd2021">40823231-2 repo</a> | <a href="http://40823231-2.github.io/cd2021">40823231-2 site</a> | <a href="http://github.com/40823244/cd2021">40823244 repo</a>| <a href="http://40823244.github.io/cd2021">40823244 site</a><br/>----------<br/><a href="http://github.com/40823239/stage3-bg4">stage3-bg4 repo</a> | <a href="http://s40723140.github.io/stage3-bg4">stage3-bg4 site</a> | <a href="http://github.com/40823239/cd2021">40823239 repo</a> | <a href="http://40823239.github.io/cd2021">40823239 site</a> | <a href="http://github.com/s40723140/cd2021">s40723140 repo</a> | <a href="http://s40723140.github.io/cd2021">s40723140 site</a> | <a href="http://github.com/s40723128/cd2021">s40723128 repo</a> | <a href="http://s40723128.github.io/cd2021">s40723128 site</a> | <a href="http://github.com/s40723139/cd2021">s40723139 repo</a> | <a href="http://s40723139.github.io/cd2021">s40723139 site</a> | <a href="http://github.com/s40723106/cd2021">s40723106 repo</a> | <a href="http://s40723106.github.io/cd2021">s40723106 site</a> | <a href="http://github.com/s40723135/cd2021">s40723135 repo</a> | <a href="http://s40723135.github.io/cd2021">s40723135 site</a> | <a href="http://github.com/s40723143/cd2021">s40723143 repo</a> | <a href="http://s40723143.github.io/cd2021">s40723143 site</a> | <a href="http://github.com/s40723215/cd2021">s40723215 repo</a>| <a href="http://s40723215.github.io/cd2021">s40723215 site</a><br/>----------<br/><a href="http://github.com/40823221/stage3-bg5">stage3-bg5 repo</a> | <a href="http://40823204.github.io/stage3-bg5">stage3-bg5 site</a> | <a href="http://github.com/40823221/cd2021">40823221 repo</a> | <a href="http://40823221.github.io/cd2021">40823221 site</a> | <a href="http://github.com/40823204/cd2021">40823204 repo</a> | <a href="http://40823204.github.io/cd2021">40823204 site</a> | <a href="http://github.com/40823205/cd2021">40823205 repo</a> | <a href="http://40823205.github.io/cd2021">40823205 site</a> | <a href="http://github.com/40823220/cd2021">40823220 repo</a> | <a href="http://40823220.github.io/cd2021">40823220 site</a> | <a href="http://github.com/40823228/cd2021">40823228 repo</a> | <a href="http://40823228.github.io/cd2021">40823228 site</a> | <a href="http://github.com/40823237/cd2021">40823237 repo</a> | <a href="http://40823237.github.io/cd2021">40823237 site</a> | <a href="http://github.com/40823242/cd2021">40823242 repo</a> | <a href="http://40823242.github.io/cd2021">40823242 site</a> | <a href="http://github.com/40823250/cd2021">40823250 repo</a>| <a href="http://40823250.github.io/cd2021">40823250 site</a> | <a href="http://github.com/40832244/cd2021">40832244 repo</a>| <a href="http://40832244.github.io/cd2021">40832244 site</a><br/>----------<br/><a href="http://github.com/40823225/stage3-bg6">stage3-bg6 repo</a> | <a href="http://40823214.github.io/stage3-bg6">stage3-bg6 site</a> | <a href="http://github.com/40823225/cd2021">40823225 repo</a> | <a href="http://40823225.github.io/cd2021">40823225 site</a> | <a href="http://github.com/40823214/cd2021">40823214 repo</a> | <a href="http://40823214.github.io/cd2021">40823214 site</a> | <a href="http://github.com/40823218/cd2021">40823218 repo</a> | <a href="http://40823218.github.io/cd2021">40823218 site</a> | <a href="http://github.com/40823211/cd2021">40823211 repo</a> | <a href="http://40823211.github.io/cd2021">40823211 site</a> | <a href="http://github.com/40823248/cd2021">40823248 repo</a> | <a href="http://40823248.github.io/cd2021">40823248 site</a> | <a href="http://github.com/40823247/cd2021">40823247 repo</a> | <a href="http://40823247.github.io/cd2021">40823247 site</a> | <a href="http://github.com/40823216/cd2021">40823216 repo</a> | <a href="http://40823216.github.io/cd2021">40823216 site</a> | <a href="http://github.com/40823238/cd2021">40823238 repo</a>| <a href="http://40823238.github.io/cd2021">40823238 site</a><br/>----------<br/><a href="http://github.com/40623144/stage3-bg7">stage3-bg7 repo</a> | <a href="http://40823233.github.io/stage3-bg7">stage3-bg7 site</a> | <a href="http://github.com/40623144/cd2021">40623144 repo</a> | <a href="http://40623144.github.io/cd2021">40623144 site</a> | <a href="http://github.com/40823233/cd2021">40823233 repo</a> | <a href="http://40823233.github.io/cd2021">40823233 site</a> | <a href="http://github.com/s40723224/cd2021">s40723224 repo</a> | <a href="http://s40723224.github.io/cd2021">s40723224 site</a> | <a href="http://github.com/40823241/cd2021">40823241 repo</a> | <a href="http://40823241.github.io/cd2021">40823241 site</a> | <a href="http://github.com/40423155/cd2021">40423155 repo</a> | <a href="http://40423155.github.io/cd2021">40423155 site</a> | <a href="http://github.com/40823227/cd2021">40823227 repo</a> | <a href="http://40823227.github.io/cd2021">40823227 site</a> | <a href="http://github.com/s40723233/cd2021">s40723233 repo</a> | <a href="http://s40723233.github.io/cd2021">s40723233 site</a></p>
<h4>教學</h4>
<p>1.先找到stage3-b的分組名單，在老師的<a href="http://mde.tw/cd2021/content/task1.html">task1</a>裡面有</p>
<p>2.將程式碼複製到白窗，tool執行就可</p>
<p>程式碼(參考40823245):</p>
<pre class="brush:html;auto-links:false;toolbar:false" contenteditable="false">def stu2b(account):
    if account == "40823231":
        return account + "-2"
    elif account[0:3] == "407":
        return "s" + account
    else:
        return account
 
teamb = []
 
# open file, default is read mode, since txt content no chinese char
# no encoding = "UTF-8" is needed
with open("stage3_2b.txt") as fh:
    # readlines will read into the whole line and put into list format
    # has \n at the end of each line
    data = fh.readlines()
#print(len(data))
for i in range(len(data)):
    group = data[i].rstrip("\n").split("\t")
    teamb.append(group)
     
output = ""    
seperator = "-"*10 + "&lt;br /&gt;"
 
for i in teamb[0:]:
    team = i[0]
    leader = stu2b(i[1])
    m1 = stu2b(i[3])
    m2 = stu2b(i[5])
    m3 = stu2b(i[7])
    m4 = stu2b(i[9])
    m5 = stu2b(i[11])
    m6 = stu2b(i[13])
     
    try:
        m7 = stu2b(i[15])
    except:
        m7 = ""
    try:
        m8 = stu2b(i[17])
    except:
        m8 = ""
         
    leaderrepo = "&lt;a href='http://github.com/" + leader + "/cd2021'&gt;" + leader + " repo&lt;/a&gt;"
    leadersite = "&lt;a href='http://" + leader + ".github.io/cd2021'&gt;" + leader +  " site&lt;/a&gt;"
    m1repo = "&lt;a href='http://github.com/" + m1 + "/cd2021'&gt;" + m1 + " repo&lt;/a&gt;"
    m1site = "&lt;a href='http://" + m1 + ".github.io/cd2021'&gt;" + m1 +  " site&lt;/a&gt;"
    m2repo = "&lt;a href='http://github.com/" + m2 + "/cd2021'&gt;" + m2 + " repo&lt;/a&gt;"
    m2site = "&lt;a href='http://" + m2 + ".github.io/cd2021'&gt;" + m2 +  " site&lt;/a&gt;"
    m3repo = "&lt;a href='http://github.com/" + m3 + "/cd2021'&gt;" + m3 + " repo&lt;/a&gt;"
    m3site = "&lt;a href='http://" + m3 + ".github.io/cd2021'&gt;" + m3 +  " site&lt;/a&gt;"
    m4repo = "&lt;a href='http://github.com/" + m4 + "/cd2021'&gt;" + m4 + " repo&lt;/a&gt;"
    m4site = "&lt;a href='http://" + m4 + ".github.io/cd2021'&gt;" + m4 +  " site&lt;/a&gt;"
    m5repo = "&lt;a href='http://github.com/" + m5 + "/cd2021'&gt;" + m5 + " repo&lt;/a&gt;"
    m5site = "&lt;a href='http://" + m5 + ".github.io/cd2021'&gt;" + m5 +  " site&lt;/a&gt;"
    m6repo = "&lt;a href='http://github.com/" + m6 + "/cd2021'&gt;" + m6 + " repo&lt;/a&gt;"
    m6site = "&lt;a href='http://" + m6 + ".github.io/cd2021'&gt;" + m6 +  " site&lt;/a&gt;"
  
 
    teamrepo = "&lt;a href='http://github.com/" + leader + "/" + team + "'&gt;" + team + " repo&lt;/a&gt;"
    teamsite =  "&lt;a href='http://" + m1 + ".github.io/" + team + "'&gt;" + team +  " site&lt;/a&gt;"
 
    output += teamrepo + " | " + teamsite + " | " +leaderrepo + " | " + leadersite + " | " +m1repo + " | " + m1site + " | " +m2repo + " | " + m2site + " | " +m3repo + " | " + m3site + " | " +m4repo + " | " + m4site + " | " +m5repo + " | " + m5site + " | " +m6repo + " | " + m6site 
     
    if m7 != "":
       m7repo = "&lt;a href='http://github.com/" + m7 + "/cd2021'&gt;" + m7 + " repo&lt;/a&gt;"
       m7site = "&lt;a href='http://" + m7 + ".github.io/cd2021'&gt;" + m7 +  " site&lt;/a&gt;"   
       output += " |  " + m7repo + "| " + m7site
    else:
        output += "" 
     
    if m8 != "":
       m8repo = "&lt;a href='http://github.com/" + m8 + "/cd2021'&gt;" + m8 + " repo&lt;/a&gt;"
       m8site = "&lt;a href='http://" + m8 + ".github.io/cd2021'&gt;" + m8 +  " site&lt;/a&gt;"   
       output += " |  " + m8repo + "| " + m8site + "&lt;br /&gt;" + seperator
    else:
        output += "&lt;br /&gt;" + seperator
 
 
print(output)
# the following will use group data to generate needed html</pre>
<h3>範例task2</h3>
<p>下載好<span>4.2.0版的</span><a href="http://mde.tw/cad2020/content/CoppeliaSim.html">coppeliasim</a><span>和</span><a href="http://mde.tw/cad2020/downloads/coppeliasim/vrep_remoteapi_ex.7z">vrep.remoteApi</a>後</p>
<p>在資料夾中找到coppeliasim.exe並且打開coppeliasim</p>
<p><img caption="false" height="250" src="/images/exe.jpg" width="445"/></p>
<p>在檔案中找到下載好的vrep_remoteapi_ex</p>
<p>並在資料夾中找到2w1a.py，在SciTE(小白板)中打開</p>
<p>更改IP位址(192.168.192.122)和使用者ID(ClientID)，名稱可以自取</p>
<p>將import vrep改成import sim as vrep</p>
<p><img alt="" height="250" src="/images/2w1a.jpg" width="444"/></p>
<p><img alt="" height="250" src="/images/client.jpg" width="444"/></p>
<p><img alt="" height="250" src="/images/sim.jpg" width="444"/></p>
<p>在File中打開檔案2w1a.ttt</p>
<p><img alt="" height="250" src="/images/2w1attt.png" width="444"/></p>
<p><img alt="" height="250" src="/images/work.png" width="444"/></p>
<h3>task3</h3>
<p><img alt="" height="250" src="/images/0527.gif" width="561"/></p>
<p>先下載<a href="https://drive.google.com/file/d/13dzUp_j6U2PBHY1Gzl_1tzxSg7ULT8qi/view?usp=sharing">RoboDK 5.2.2 可攜程式</a>及<a href="https://drive.google.com/file/d/1XoB3F5cPK8R4Y8AIWL5pKR5TQjPW8TRv/view?usp=sharing">Pick and Place 檔案</a></p>
<p><img alt="" height="250" src="/images/05271.png" width="444"/></p>
<p>下載完解壓縮至隨身碟</p>
<p><img alt="" height="250" src="/images/05272.png" width="444"/></p>
<p>執行RoboDK.exe</p>
<p><img alt="" height="250" src="/images/05273.png" width="444"/></p>
<p><img alt="" height="250" src="/images/05274.png" width="444"/></p>
<p>文件-&gt;打開-&gt;點選pick_and_place_with_python.rdk</p>
<p><img alt="" height="250" src="/images/05275.png" width="444"/></p>
<p>然後打開SciTE並將pick_and_place.py拖拉至<span>SciTE</span></p>
<p><img caption="false" height="250" src="/images/05276.png" width="444"/></p>
<p>打開顯示數字行列，並找到第78行</p>
<p>(robodk_path指<span>RoboDK.exe的路徑</span>)</p>
<p>(robodk_ip指API的IP位置)</p>
<p><img alt="" height="250" src="/images/05277.png" width="444"/></p>
<p>*找IP</p>
<p>回到<span>RoboDK點選工具列最底層的選項</span></p>
<p><img alt="" height="250" src="/images/05278.png" width="444"/></p>
<p>其他-&gt;勾選"允許外部API"-&gt;點選"API服務器IP"</p>
<p><img alt="" height="250" src="/images/05279.png" width="444"/></p>
<p>選取IP輸入下方欄位並複製-&gt;OK-&gt;回到<span>SciTE貼上</span></p>
<p><img alt="" height="250" src="/images/052711.png" width="444"/></p>
<p>*找<span>RoboDK路徑</span></p>
<p><span>找到RoboDK.exe位置</span></p>
<p><img alt="" height="250" src="/images/052712.png" width="444"/></p>
<p>複製上方路徑並回到<span>SciTE貼上</span></p>
<p><img caption="false" height="250" src="/images/052713.png" width="444"/></p>
<p><span>回到RoboDK-&gt;工具-&gt;選項-&gt;Python</span></p>
<p><img alt="" height="250" src="/images/052714.png" width="444"/></p>
<p>回到<span>SciTE-&gt;Tools-&gt;Go</span></p>
<p><span>將右方欄位的藍色路徑複製，並在RoboDK中貼上(綠色線框選處)-&gt;確定</span></p>
<p><img alt="" height="250" src="/images/052716.png" width="444"/></p>
<p>左側上方的Pick and Place點擊左鍵-&gt;編輯Python程序 即可作動</p>
<p><img alt="" height="250" src="/images/052717.png" width="444"/></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<h2>W10 討論主題</h2>
<h4>模擬:40823210、40823217 ； 日期:04/30</h4>
<h4>目前利用coppeliasim模擬商品掉落情形，但商品會因為螺旋轉動而倒向一邊，不盡理想，下次改善重點。</h4>
<p><img alt="" height="268" src="/images/2.2ttt.gif" width="500"/></p>
<p>------------------------------------------------------------------------------------------------------</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/rIZ-RwBM7wY" title="YouTube video player" width="560"></iframe></p>
<p><img caption="false" height="250" src="/images/stage3.jpg" width="711"/></p>
<p>經小組成員討論後，決定主題延續Stage2-bg11的免彎腰販賣機。</p>
<p><strong>分配任務</strong></p>
<p>程序編寫:40823224</p>
<p>模擬:4082310/40823217</p>
<p>繪圖:40823206/40823223/40823207</p>
<p>網頁製作:40823209/40823201</p>
<p><a href="http://mde.tw/cd2021/downloads/2012_ece_The%20Design,%20Simulation,%20Verification%20and%20Implementation%20of%20Vending%20MachineBased%20on%20FPGA.pdf">ECE的Vending machine 設計與模擬</a></p>
<p><img alt="" height="150" src="/images/老師文獻.jpg" width="860"/></p>
<h2>W11 直播處理</h2>
<h4><strong>"Stage3進度"</strong></h4>
<h4>模擬:40823210、40823217 ； 日期:05/07</h4>
<h4>此次利用coppeliasim模擬商品掉落情形，既上禮拜經驗，本次增加了2跟檔桿，但增加檔桿後似乎與螺旋勾子有砰撞上面的問題...。</h4>
<p><img alt="" height="268" src="/images/3.0ttt.gif" width="500"/></p>
<h4>模擬:40823210、40823217 ； 日期:05/07</h4>
<h4>既上面模擬修改後，改善了檔桿與螺旋勾子的碰撞問題，並移動了位子；且將商品稍微放大並讓商品貼齊置物架，使商品在移動過程中穩定一些。</h4>
<p><img alt="" height="268" src="/images/3.3ttt.gif" width="500"/></p>
<h4><em><strong>------------------------------------------------------------------------------------------</strong></em></h4>
<h4><strong>"直播處理"</strong></h4>
<p><a href="https://portableapps.com/apps/music_video/obs-studio-portable">OBS下載</a></p>
<p>找到下載好的OBSPortable資料夾</p>
<p><img alt="" height="250" src="/images/05231_LI.jpg" width="444"/></p>
<p>App&gt;obs-studio&gt;bin&gt;64bit 找到 <strong>obs64.exe </strong>並且打開他</p>
<p><img alt="" height="250" src="/images/05232_LI.jpg" width="444"/></p>
<p>一開始會發現是黑屏</p>
<p>在右下角找到來源&gt;+&gt;顯示器擷取</p>
<p><img alt="" height="250" src="/images/05233_LI.jpg" width="444"/></p>
<p>確定</p>
<p><img alt="" height="250" src="/images/05234_LI.jpg" width="444"/></p>
<p>進到設定&gt;串流</p>
<p><img alt="" height="250" src="/images/05236_LI.jpg" width="444"/></p>
<p>將服務及伺服器改為YouTube</p>
<p><img alt="" height="250" src="/images/05237_LI.jpg" width="444"/></p>
<p>到YouTube直播頁面(需24小時前開起權限)</p>
<p>在下方找到串流金鑰並複製</p>
<p><img alt="" height="250" src="/images/05238_LI.jpg" width="444"/></p>
<p>回到OBS設定</p>
<p>將剛複製的串流金鑰貼上</p>
<p><img alt="" height="250" src="/images/05239_LI.jpg" width="444"/></p>
<p>到YouTube確認是否串流成功即可開始直播</p>
<p><img alt="" height="250" src="/images/052311.png" width="444"/></p>
<p></p>
<h2>W12 使用remote api</h2>
<h4><strong>"Stage3進度"</strong></h4>
<h4>模擬:40823210、40823217 ； 日期:05/14</h4>
<h4>已修改完畢，剩一些小細節需要去修正，例如:碰撞上的問題、以</h4>
<h4><span>及一些速度的變化要調整</span><span>外。其他的沒什麼大礙了，程式碼也幾乎沒有問題。(然後因</span></h4>
<h4><span>為我電腦超級無敵的卡所以才呈現的一禎一禎的。)</span></h4>
<p><span><iframe allowfullscreen="allowfullscreen" height="314" src="//www.youtube.com/embed/DHJFXj3MPiw" width="560"></iframe></span></p>
<p>[東西都在我們網站能下載]</p>
<p><span></span></p>
<p><span></span></p>
<p>-------------------------------------------------------------------------------------------------------</p>
<h4>"使用remote api"</h4>
<h4>CoppeliaSim 場景 remote API 協同監控流程:</h4>
<h4><span>各組分別將個人在 stage1 與 stage2 所完成的 coppeliasim 場景,</span></h4>
<h4><span> 採 Python remote API 進行遠端操控。</span></h4>
<p><span>(相關檔案都放在了倉儲:<a href="https://github.com/40823217/stage3-bg2">stage3-bg2</a>-販賣機api)</span></p>
<p>04/29</p>
<p><span><iframe allowfullscreen="allowfullscreen" height="314" src="//www.youtube.com/embed/85nMph2M8Fc" width="560"></iframe></span></p>
<p><span>因為只有先打好按鈕設定及程式大概的主體，所以會有轉很快的情形發生，是因為我還沒調轉速。</span></p>
<h2>W13 小組遠距討論</h2>
<h4><strong>"Stage3進度"</strong></h4>
<h4><span>模擬:40823210、40823217 ； 日期:05/21</span></h4>
<h4>此次利用coppeliasim模擬整體免彎腰販賣機，既上禮拜經驗，重新定義了各個碰撞&amp;動態設定，也調整了各物體轉速度，為了使其整體穩定一點，雖有好轉，但仍然需再多加微調；問題較大的地方是在於"00:57"平台要上升時，有二物件會產生分開的情況，有待下次改善...。</h4>
<p>(按鍵指令)</p>
<pre class="brush:html;auto-links:false;toolbar:false" contenteditable="false">1~9..........控制螺旋鉤子
"空白建".....停止螺旋鉤子
C............控制開門
V............暫停關門
O............控制滾輪
W............平台上升
E............暫停平台
S............下降平台
esc..........結束</pre>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/BhsF6XHm8nM" title="YouTube video player" width="560"></iframe></p>
<p>-----------------------------------------------------------------------------------------------------</p>
<h4>"小組遠距討論"</h4>
<h4><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/dfnujRdXick" title="YouTube video player" width="560"></iframe></h4>
<p></p>
<h2>W14 stage3進度</h2>
<h4><strong>"Stage3進度"</strong></h4>
<h4><span>模擬:40823210、40823217 ； 日期:05/28</span></h4>
<h4>此次利用coppeliasim模擬整體免彎腰販賣機，既上禮拜經驗，透過對部分零件進行選擇性的分解&amp;組合和Joint的功能，解決了過往平台要上升時，會有二物件產生分開的情況；此外也發現coppeliasim在分解STL檔案組合模型時，零件會分解的不盡理想，此次也改善了零件分解過多的問題；最後對於販賣機的門在進行分解後依然是保持一體的，導致取物口的窗戶無法開啟，目前正在想辦法解決...。</h4>
<h4>(按鍵指令)</h4>
<pre class="brush:html;auto-links:false;toolbar:false" contenteditable="false">1~9..........控制螺旋鉤子
"空白建".....停止螺旋鉤子
C............關門
V............暫停開/關門
B............開門
O............滾輪
W............平台上升
E............平台暫停
S............平台下降
esc..........結束</pre>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/w5l4vcVAnsc" title="YouTube video player" width="560"></iframe></p>
<p>----------</p>
<p><span class="style-scope yt-formatted-string" dir="auto">影片場景之ttt檔及相關資料，可至stage3-bg2倉儲下載: </span><a class="yt-simple-endpoint style-scope yt-formatted-string" dir="auto" href="https://www.youtube.com/redirect?event=video_description&amp;redir_token=QUFFLUhqbFgyaE9kOHNQQ1BIUGMwQ2RzVXBpSV9LREtlUXxBQ3Jtc0ttZnBuMWFDRDFWV0s1czFLNk0tVVFiakxzWTdHYW1UV3ltZ0plYWhCX2cxWUFuTTVrd2pQYXRmOEs2QmdSQ0NpWERaNWN4UUkzNGlPS3QyY3huUWVmTzF5QjBRaE5EZkxuYkpBa29DcG05UTZuVVhNTQ&amp;q=https%3A%2F%2Fgithub.com%2F40823210%2Fstage3-bg2" rel="nofollow" spellcheck="false" target="_blank">https://github.com/40823210/stage3-bg2</a></p>
<p>(檔案名稱:免彎腰販賣機 ➝販賣機3.5)</p>
<p></p>
<p></p>
<h2>W15 stage3進度</h2>
<h4><strong>"Stage3進度"</strong></h4>
<h4><span>模擬:40823210、40823217 ； 日期:05/30</span></h4>
<h4>此次利用coppeliasim模擬整體免彎腰販賣機，既上禮拜經驗，對於販賣機的門無法分解，這次將舊有的門刪除並用inventor重新進行編輯組合，轉為stl檔後再輸入進coppeliasim進行分解，並對取物口設置按鍵指令，使取物口也可利用鍵盤按鍵進行控制。</h4>
<h4>(按鍵指令)</h4>
<pre class="brush:html;auto-links:false;toolbar:false" contenteditable="false">1~9..........控制螺旋鉤子
"空白建".....停止螺旋鉤子
Z............關門
X............暫停開/關門
C............開門
O............滾輪
W............平台上升
E............平台暫停
S............平台下降
B............取物口開啟
N............取物口暫停
M............取物口關閉
esc..........結束</pre>
<p><img caption="false" height="274" src="/images/開關門GIF.gif" width="560"/></p>
<p>----------</p>
<p><span class="style-scope yt-formatted-string" dir="auto">影片場景之ttt檔及相關資料，可至stage3-bg2倉儲下載: </span><a class="yt-simple-endpoint style-scope yt-formatted-string" dir="auto" href="https://www.youtube.com/redirect?event=video_description&amp;redir_token=QUFFLUhqbFgyaE9kOHNQQ1BIUGMwQ2RzVXBpSV9LREtlUXxBQ3Jtc0ttZnBuMWFDRDFWV0s1czFLNk0tVVFiakxzWTdHYW1UV3ltZ0plYWhCX2cxWUFuTTVrd2pQYXRmOEs2QmdSQ0NpWERaNWN4UUkzNGlPS3QyY3huUWVmTzF5QjBRaE5EZkxuYkpBa29DcG05UTZuVVhNTQ&amp;q=https%3A%2F%2Fgithub.com%2F40823210%2Fstage3-bg2" rel="nofollow" spellcheck="false" target="_blank">https://github.com/40823210/stage3-bg2</a></p>
<p>(檔案名稱:免彎腰販賣機 ➝販賣機3.6)</p>
<h2>W15 MTB Robot 練習</h2>
<p><strong>MTB Robot 練習</strong></p>
<table style="width: 251.75px;">
<tbody>
<tr style="height: 21.4762px;">
<th scope="colgroup" style="width: 63px; height: 21.4762px; border-color: #000000; background-color: #ffffff; text-align: center; vertical-align: middle;"><span style="background-color: #cc99ff;"><strong>KEY</strong></span></th>
<th scope="colgroup" style="width: 103.75px; height: 21.4762px; border-color: #000000; background-color: #ffffff; text-align: center; vertical-align: middle;"><span style="background-color: #cc99ff;"><strong>功能</strong></span></th>
</tr>
<tr style="height: 21px;">
<th scope="colgroup" style="width: 63px; height: 21.4762px; border-color: #000000; background-color: #ffffff; text-align: center; vertical-align: middle;">D</th>
<th scope="colgroup" style="width: 103.75px; height: 21.4762px; border-color: #000000; background-color: #ffffff; text-align: center; vertical-align: middle;">下降</th>
</tr>
<tr style="height: 21px;">
<th scope="colgroup" style="width: 63px; height: 21.4762px; border-color: #000000; background-color: #ffffff; text-align: center; vertical-align: middle;">U</th>
<th scope="colgroup" style="width: 103.75px; height: 21.4762px; border-color: #000000; background-color: #ffffff; text-align: center; vertical-align: middle;">上升</th>
</tr>
<tr style="height: 21px;">
<th scope="colgroup" style="width: 63px; height: 21.4762px; border-color: #000000; background-color: #ffffff; text-align: center; vertical-align: middle;">L</th>
<th scope="colgroup" style="width: 103.75px; height: 21.4762px; border-color: #000000; background-color: #ffffff; text-align: center; vertical-align: middle;">向左</th>
</tr>
<tr style="height: 21px;">
<th scope="colgroup" style="width: 63px; height: 21.4762px; border-color: #000000; background-color: #ffffff; text-align: center; vertical-align: middle;">R</th>
<th scope="colgroup" style="width: 103.75px; height: 21.4762px; border-color: #000000; background-color: #ffffff; text-align: center; vertical-align: middle;">向右</th>
</tr>
<tr style="height: 21px;">
<th scope="colgroup" style="width: 63px; height: 21.4762px; border-color: #000000; background-color: #ffffff; text-align: center; vertical-align: middle;">Q</th>
<th scope="colgroup" style="width: 103.75px; height: 21.4762px; border-color: #000000; background-color: #ffffff; text-align: center; vertical-align: middle;">放掉</th>
</tr>
<tr style="height: 21px;">
<th scope="colgroup" style="width: 63px; height: 21.4762px; border-color: #000000; background-color: #ffffff; text-align: center; vertical-align: middle;">P</th>
<th scope="colgroup" style="width: 103.75px; height: 21.4762px; border-color: #000000; background-color: #ffffff; text-align: center; vertical-align: middle;">變數值變true</th>
</tr>
<tr style="height: 21px;">
<th scope="colgroup" style="width: 63px; height: 21.4762px; border-color: #000000; background-color: #ffffff; text-align: center; vertical-align: middle;">C</th>
<th scope="colgroup" style="width: 103.75px; height: 21.4762px; border-color: #000000; background-color: #ffffff; text-align: center; vertical-align: middle;">顯示座標</th>
</tr>
</tbody>
</table>
<p>Note：</p>
<ol>
<li>Dummy1 為黏膠</li>
<li>suction Pad 為吸盤，模組可由 components&gt;grippers 中拉出</li>
<li>坐標系從介面中的other中拉出</li>
<li>leo 中的 actuation 為按鈕設定及鍵盤作動</li>
<li>-- 為單行註解</li>
<li>-- [[　 ]]-- 為多行註解</li>
</ol>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/qAozBurBX3M" title="YouTube video player" width="560"></iframe></p>
<h2>W16</h2>
<h2>W17</h2>
<h2>W18</h2>
<h1>task2</h1>
<h4>請各組員分別將個人在 stage1 與 stage2 所完成的 coppeliasim 場景, 採 Python remote API 進行操控, 並將過程拍成影片後, 放在個人與分組網站上.</h4>
<h4>stage3 專案中的 CoppeliaSim 請一律使用<span> </span><a href="http://a.kmol.info:88/CoppeliaSimEdu_4.2.0.7z">4.2.0 版</a>.</h4>
<h4>範例:<span> </span><a href="http://mde.tw/cad2020/content/CoppeliaSim.html">http://mde.tw/cad2020/content/CoppeliaSim.html</a></h4>
<h2>S1-B18</h2>
<h4>本人是stage1-bg18成員</h4>
<h4><span>stage1 所完成的 coppeliasim 場景, 採 Python remote API 進行操控。</span></h4>
<p><span>----------</span></p>
<h4>(按鍵指令)</h4>
<pre class="brush:html;auto-links:false;toolbar:false" contenteditable="false">Z............拉桿續力
"空白建".....拉桿前推
esc..........結束</pre>
<p><span>◾實際操作影片</span></p>
<p><span></span></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" data-mce-fragment="1" frameborder="0" height="315" src="https://www.youtube.com/embed/OrNd5uO25os" title="YouTube video player" width="560"></iframe></p>
<p><span></span>----------</p>
<p>(程式碼)</p>
<pre class="brush:html;auto-links:false;toolbar:false" contenteditable="false">import sim as vrep
import math
import random
import time
import keyboard

print ('Start')

# Close eventual old connections
vrep.simxFinish(-1)
# Connect to V-REP remote server
clientID = vrep.simxStart('192.168.0.12', 19997, True, True, 5000, 5)

if clientID != -1:
    print ('Connected to remote API server')
    
    res = vrep.simxAddStatusbarMessage(
        clientID, "40823210",
        vrep.simx_opmode_oneshot)
    if res not in (vrep.simx_return_ok, vrep.simx_return_novalue_flag):
        print("Could not add a message to the status bar.")

    opmode = vrep.simx_opmode_oneshot_wait
    
    vrep.simxStartSimulation(clientID, opmode)
    ret,rod_handle=vrep.simxGetObjectHandle(clientID,"joint",opmode)
    ret,ro_handle=vrep.simxGetObjectHandle(clientID,"joint1",opmode)

    #ret,main = vrep.simxGetObjectHandle(clientID, "main", opmode)
    while True:
    
        #keyboard "Z" 
        if keyboard.is_pressed("Z"):
            vrep.simxSetJointTargetVelocity(clientID,rod_handle,1,opmode)
            
        #keyboard "space" 
        if keyboard.is_pressed("space"):
            vrep.simxSetJointTargetVelocity(clientID,rod_handle,-99999,opmode)  

        #keyboard "esc" 
        if  keyboard.is_pressed("esc"):
            vrep.simxStopSimulation(clientID, opmode)
            break
        
else:
    print ('Failed connecting to remote API server')
    print ('End')</pre>
<p>---------</p>
<p><span class="style-scope yt-formatted-string" dir="auto">影片場景之ttt檔及其他相關檔案，可至本人的個人倉儲下載:</span></p>
<p><span class="style-scope yt-formatted-string" dir="auto"> </span><a class="yt-simple-endpoint style-scope yt-formatted-string" dir="auto" href="https://www.youtube.com/redirect?event=video_description&amp;redir_token=QUFFLUhqbEg0QXBfOGFVaURiaGJ3ZGd5YThnTURPY2UwZ3xBQ3Jtc0trbXp5X2tKX3c4emdCU25zc3JyMmg3YkMweHFRTnY1WjdsaW1vS2cwLVEtVzNqV0hzcDdKNW9iM29GRXpBT3JvQVQwQXhudkhWU0ZRbTFSR2hsRjJKWWVTR2JTQy02YjBnZE5haEpUMko2dFIzTHZDOA&amp;q=https%3A%2F%2Fgithub.com%2F40823210%2Fcd2021" rel="nofollow" spellcheck="false" target="_blank">https://github.com/40823210/cd2021</a><span class="style-scope yt-formatted-string" dir="auto"> </span></p>
<p><span class="style-scope yt-formatted-string" dir="auto">(檔案位置:task2 ➝水球發射器)</span><br/><br/></p>
<h2>S2-B11</h2>
<h4>本人是stage2-bg11成員</h4>
<h4><span>stage2 所完成的 coppeliasim 場景, 採 Python remote API 進行操控。</span></h4>
<p>----------</p>
<h4>(按鍵指令)</h4>
<pre class="brush:html;auto-links:false;toolbar:false" contenteditable="false">1~9..........控制螺旋鉤子
"空白建".....停止螺旋鉤子
Z............關門
X............暫停開/關門
C............開門
O............控制滾輪
W............平台上升
E............暫停平台
S............下降平台
esc..........結束</pre>
<p><span>◾實際操作影片</span></p>
<p><span></span></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" data-mce-fragment="1" frameborder="0" height="315" src="https://www.youtube.com/embed/yz_iSELMHd8" title="YouTube video player" width="560"></iframe></p>
<p>----------<br/>(程式碼)</p>
<pre class="brush:html;auto-links:false;toolbar:false" contenteditable="false">import sim as vrep
import math
import random
import time
import keyboard

print ('Start')

# Close eventual old connections
vrep.simxFinish(-1)
# Connect to V-REP remote server
clientID = vrep.simxStart('192.168.0.12', 19997, True, True, 5000, 5)

if clientID != -1:
    print ('Connected to remote API server')
    
    res = vrep.simxAddStatusbarMessage(
        clientID, "40823210",
        vrep.simx_opmode_oneshot)
    if res not in (vrep.simx_return_ok, vrep.simx_return_novalue_flag):
        print("Could not add a message to the status bar.")

    opmode = vrep.simx_opmode_oneshot_wait
    
    vrep.simxStartSimulation(clientID, opmode)
    ret,DOOR_handle=vrep.simxGetObjectHandle(clientID,"joint4",opmode)
    ret,C1_handle=vrep.simxGetObjectHandle(clientID,"joint2",opmode)
    ret,B1_handle=vrep.simxGetObjectHandle(clientID,"joint1",opmode)
    ret,SP5_handle=vrep.simxGetObjectHandle(clientID,"joint",opmode)
    ret,S1_1_handle=vrep.simxGetObjectHandle(clientID,"S1_1",opmode)
    ret,S2_1_handle=vrep.simxGetObjectHandle(clientID,"S2_1",opmode)
    ret,S3_1_handle=vrep.simxGetObjectHandle(clientID,"S3_1",opmode)
    ret,S4_1_handle=vrep.simxGetObjectHandle(clientID,"S4_1",opmode)
    ret,S5_1_handle=vrep.simxGetObjectHandle(clientID,"S5_1",opmode)
    ret,S6_1_handle=vrep.simxGetObjectHandle(clientID,"S6_1",opmode)
    ret,S7_1_handle=vrep.simxGetObjectHandle(clientID,"S7_1",opmode)
    ret,S8_1_handle=vrep.simxGetObjectHandle(clientID,"S8_1",opmode)
    ret,S9_1_handle=vrep.simxGetObjectHandle(clientID,"S9_1",opmode)
    ret,S10_1_handle=vrep.simxGetObjectHandle(clientID,"S10_1",opmode)
    #ret,main = vrep.simxGetObjectHandle(clientID, "main", opmode)
    while True:
    
        #keyboard "5" 
        if keyboard.is_pressed("5"):
            vrep.simxSetJointTargetVelocity(clientID,SP5_handle,1,opmode)
        
        #keyboard "space" 
        if keyboard.is_pressed("space"):
            vrep.simxSetJointTargetVelocity(clientID,SP5_handle,0,opmode)
        #keyboard "O" 
        if keyboard.is_pressed("O"):
            vrep.simxSetJointTargetVelocity(clientID,S1_1_handle,100,opmode)
            vrep.simxSetJointTargetVelocity(clientID,S2_1_handle,100,opmode)
            vrep.simxSetJointTargetVelocity(clientID,S3_1_handle,100,opmode)
            vrep.simxSetJointTargetVelocity(clientID,S4_1_handle,100,opmode)
            vrep.simxSetJointTargetVelocity(clientID,S5_1_handle,100,opmode)
            vrep.simxSetJointTargetVelocity(clientID,S6_1_handle,100,opmode)
            vrep.simxSetJointTargetVelocity(clientID,S7_1_handle,100,opmode)
            vrep.simxSetJointTargetVelocity(clientID,S8_1_handle,100,opmode)
            vrep.simxSetJointTargetVelocity(clientID,S9_1_handle,100,opmode)
            vrep.simxSetJointTargetVelocity(clientID,S10_1_handle,100,opmode)
        #keyboard "W" 
        if keyboard.is_pressed("W"):
            vrep.simxSetJointTargetVelocity(clientID,C1_handle,1,opmode)
            vrep.simxSetJointTargetVelocity(clientID,B1_handle,2,opmode)
         #keyboard "E" 
        if keyboard.is_pressed("E"):
            vrep.simxSetJointTargetVelocity(clientID,C1_handle,0,opmode)
            vrep.simxSetJointTargetVelocity(clientID,B1_handle,0,opmode)   
        #keyboard "S" 
        if keyboard.is_pressed("S"):
            vrep.simxSetJointTargetVelocity(clientID,C1_handle,-1,opmode)
            vrep.simxSetJointTargetVelocity(clientID,B1_handle,-2,opmode)
        #keyboard "Z" 
        if keyboard.is_pressed("Z"):
            vrep.simxSetJointTargetVelocity(clientID,DOOR_handle,1000,opmode)
       #keyboard "X" 
        if keyboard.is_pressed("X"):
            vrep.simxSetJointTargetVelocity(clientID,DOOR_handle,0,opmode)
        #keyboard "C" 
        if keyboard.is_pressed("C"):
            vrep.simxSetJointTargetVelocity(clientID,DOOR_handle,-1.5,opmode)              
        #keyboard "esc" 
        if  keyboard.is_pressed("esc"):
            vrep.simxStopSimulation(clientID, opmode)
            break
        
else:
    print ('Failed connecting to remote API server')
    print ('End')</pre>
<p>---------</p>
<p><span class="style-scope yt-formatted-string" dir="auto">影片場景之ttt檔及其他相關檔案，可至本人的個人倉儲下載:</span></p>
<p><span class="style-scope yt-formatted-string" dir="auto"></span><a class="yt-simple-endpoint style-scope yt-formatted-string" dir="auto" href="https://www.youtube.com/redirect?event=video_description&amp;redir_token=QUFFLUhqbEg0QXBfOGFVaURiaGJ3ZGd5YThnTURPY2UwZ3xBQ3Jtc0trbXp5X2tKX3c4emdCU25zc3JyMmg3YkMweHFRTnY1WjdsaW1vS2cwLVEtVzNqV0hzcDdKNW9iM29GRXpBT3JvQVQwQXhudkhWU0ZRbTFSR2hsRjJKWWVTR2JTQy02YjBnZE5haEpUMko2dFIzTHZDOA&amp;q=https%3A%2F%2Fgithub.com%2F40823210%2Fcd2021" rel="nofollow" spellcheck="false" target="_blank">https://github.com/40823210/cd2021</a><span class="style-scope yt-formatted-string" dir="auto"></span></p>
<p><span class="style-scope yt-formatted-string" dir="auto">(檔案位置:task2 ➝販賣機)</span></p>
<h1>直播影片</h1>
<p></p>
<h4>W11</h4>
<p><strong>日期:2021/05/07</strong></p>
<h4>直播人員:40823209、40823207</h4>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/Wh__5Vie0Hg" title="YouTube video player" width="560"></iframe></p>
<h5>直播人員:40823210、40823206</h5>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/80e1BnCF01Q" title="YouTube video player" width="560"></iframe></p>
<p></p>
<p><strong>W12</strong></p>
<h4>日期:2021/05/14</h4>
<p>直播人員:40823201，40823207</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/TL6bnUCd_ao" title="YouTube video player" width="560"></iframe></p>
<p><span>直播人員:40823209，40823223</span></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/s4raMrKrMes" title="YouTube video player" width="560"></iframe></p>
<h1>Youtube影片</h1>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/rIZ-RwBM7wY" title="YouTube video player" width="560"></iframe></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/D-FKhdyYLzk" title="YouTube video player" width="560"></iframe> <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/Hlb_8f1N7zU" title="YouTube video player" width="560"></iframe> <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/qLfdW-e3F5Q" title="YouTube video player" width="560"></iframe></p>
<h1>筆記</h1>
<h2>更新網站</h2>
<p>在編輯小組網站前，需先pull 組長的網頁</p>
<p>pull完之後將組長網站的最新版本更新到自己的網頁</p>
<p><img alt="" height="210" src="/images/cmd_K1CocXIKWT.png" width="420"/></p>
<p><img alt="" height="210" src="/images/cmd_I67BUNeIBP.png" width="420"/></p>
<p><img alt="" height="210" src="/images/cmd_y4CTFvIUh5.png" width="420"/></p>
<p>這樣自己的網站 就為最新版本</p>
<p>之後才能進9443內編輯網頁</p>
<p>更新完之後再push</p>
<p>先git add .</p>
<p>git commit -m"add"</p>
<p>git push bg2(這是推到自己的)</p>
<p>git push (這是推組長的)</p>
<p>要兩個都推 組長才方便管理網站</p>
<p></p>
<h2>reveal的頁面問題</h2>
<p></p>
<p><img alt="" height="169" src="/images/2.網頁reveal問題.png" width="300"/></p>
<p><img alt="" height="169" src="/images/1.網頁reveal問題.png" width="300"/></p>
<p><img alt="" height="259" src="/images/4.網頁reveal問題.png" width="200"/><img alt="" height="259" src="/images/4.網頁reveal問題.png" width="200"/></p>
<h2>coppeliasim 教學</h2>
<p>如何將stl.檔加入至<span>coppeliasim ?</span></p>
<p><span>1.打開coppeliasim</span></p>
<p><span><img caption="false" height="226" src="/images/1開啟.png" width="400"/></span></p>
<p><span></span></p>
<p><span>2.開啟stl.檔</span></p>
<p>一、找到file</p>
<p>二、選import</p>
<p>三、點mesh</p>
<p><span><img alt="" height="364" src="/images/2.開啟檔案.png" width="400"/></span></p>
<p><span></span></p>
<p><span>3.找到你檔案</span></p>
<p><span><img alt="" height="235" src="/images/3.找到檔案.png" width="400"/></span></p>
<p><span></span></p>
<p><span>[小補充]:這是要問妳他XYZ的方向要朝哪裡的</span><span>還有他的大小，基本上我都沒</span></p>
<p><span>理他，就直接以</span><span>畫圖者呈現怎樣，我就怎樣去做，如果不放心</span><span>也可以自己去查查。</span></p>
<p><span><img caption="false" height="258" src="/images/小補充.png" width="200"/></span></p>
<p><span></span></p>
<p><span>4.完成開啟</span></p>
<p><span><img alt="" height="225" src="/images/4.完成開啟.png" width="400"/></span></p>
<p><span></span></p>
<p><span>5.需要去分解零件，去做每個地方的作動</span></p>
<p>一、先點一下你本體</p>
<p>二、然後按右鍵，找到edit</p>
<p>三、在往旁邊找到Grouping/Merging</p>
<p>四、點Divide selected shape</p>
<p><span><img alt="" height="276" src="/images/5分解零件.png" width="400"/></span></p>
<p><span></span></p>
<p><span>6.完成開啟</span></p>
<p><span><img alt="" height="281" src="/images/6.完成開啟.png" width="400"/></span></p>
<h2>CoppeliaSim碰撞&amp;動態</h2>
<h4>"碰撞"屬性<br/>意思即為開啟狀態下，物體會和空間中其他物體發生碰撞，從而模擬實際物理作用狀態。<br/>例:關閉時物體會直接穿過地面，開啟後物體會停於地面上。</h4>
<h4>碰撞打勾設定解釋:</h4>
<h4>二物體"無"父子關係的物體，使用"下排"勾勾作設定，假設在相同位置都有勾勾的話，它們就會發生碰撞；假設在每一個位置上，都不會同時出現勾勾的話，他們就不會發生碰撞。<br/>二物體"有"父子關係的物體，使用"上排"勾勾作設定，假設在相同位置都有勾勾的話，它們就會發生碰撞；假設在每一個位置上，都不會同時出現勾勾的話，他們就不會發生碰撞。</h4>
<h4>"動態"屬性<br/>意思即為關閉狀態下，物體會被視為與世界坐標系固連的關係。<br/>例:關閉時可懸浮於空間之中，不受其他物體碰撞而移動；開啟後會受到向下的重力作用&amp;會受到和其它物件碰撞而產生不同方向的力。</h4>
<p><span>-------------------------------------------------------------------------------------------</span></p>
<h4>"開啟碰撞、動態屬性"</h4>
<h4><span>◾在物體圖示點2下左鍵，開啟屬性對話框</span></h4>
<p><span><img alt="" height="281" src="/images/碰撞0.png" width="500"/></span></p>
<h4><span>◾</span><span>點Show dynamic properties dialog</span></h4>
<p><span><img alt="" height="282" src="/images/碰撞1.PNG" width="500"/></span></p>
<h4><span>◾</span><span>點Body is respondable(開啟碰撞)，</span><span>框中勾勾用來做碰撞設定</span></h4>
<p><span><img alt="" height="282" src="/images/碰撞2.PNG" width="500"/></span></p>
<h4><span>◾</span><span>點Body is dynamic(開啟動態)</span></h4>
<p><span><img alt="" height="280" src="/images/碰撞3.PNG" width="500"/></span></p>
<h4><span>◾實際操作影片</span></h4>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/3u3iC24gwB8" title="YouTube video player" width="560"></iframe></p>
<h2>CoppeliaSim物體顏色、透明度</h2>
<h4>適當調整各物體顏色、透明度，可易於查看複雜結合件</h4>
<p>-------------------------------------------------------------------------------------------</p>
<h4><em><strong>"更改顏色"</strong></em></h4>
<h4><span>◾在物體圖示點2下左鍵，開啟屬性對話框</span></h4>
<p><span><img alt="" height="284" src="/images/cs顏色1.PNG" width="500"/></span></p>
<h4><span>◾點Adjust oolor</span></h4>
<p><span><img alt="" height="281" src="/images/cs顏色2.PNG" width="500"/></span></p>
<h4><span>◾點Ambient/diffuse component</span></h4>
<p><span><img alt="" height="281" src="/images/cs顏色3.PNG" width="500"/></span></p>
<h4><span>◾拖動框中6列數值可調整物體顏色</span></h4>
<p><span><img alt="" height="280" src="/images/cs顏色4.PNG" width="500"/></span></p>
<h4><span>◾實際操作影片</span></h4>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/1TYMHouimgo" title="YouTube video player" width="560"></iframe></p>
<p></p>
<p><span>-------------------------------------------------------------------------------------------</span></p>
<h4><em><strong>"更改透明度"</strong></em></h4>
<h4><span>◾在物體圖示點2下左鍵，開啟屬性對話框</span></h4>
<p><span><img alt="" height="284" src="/images/cs顏色1.PNG" width="500"/></span></p>
<h4><span>◾點Adjust oolor</span></h4>
<p><span><img alt="" height="281" src="/images/cs顏色2.PNG" width="500"/></span></p>
<h4><span></span></h4>
<h4><span>◾將選項Opacity開啟，輸入數值即可更改透明度</span></h4>
<p><span><img alt="" height="281" src="/images/cs顏色5.PNG" width="500"/></span></p>
<h4><span>◾實際操作影片</span></h4>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/J3Yu9IAtjts" title="YouTube video player" width="560"></iframe></p>
<h2>當git pull有狀況時該如何解決</h2>
<h4>遇到問題者:40823209 顏沐恩           日期:06/04</h4>
<h4>遇到問題:已經git pull，但是無法拉下小組最新的網頁資料。</h4>
<h4>有請教同學:40823247 許力右</h4>
<h4>解決方式如下:</h4>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/qLfdW-e3F5Q" title="YouTube video player" width="560"></iframe></p>
<h4>如果你想保留剛才本地修改的程式碼，並把git伺服器上的程式碼pull到本地（本地剛才修改的程式碼將會被暫時封存起來）</h4>
<h4>*記得要在小組倉儲底下*</h4>
<h4>git stash</h4>
<h4>(按ENTER)<br/>git pull origin master</h4>
<h4><span>(按ENTER)</span><br/>git stash pop</h4>
<h4><span>(按ENTER)</span></h4>
<h4>最後再git pull</h4>
<h4>如此一來，伺服器上的程式碼更新到了本地，而且你本地修改的程式碼也沒有被覆蓋，之後使用add，commit，push 命令即可更新原生代碼到伺服器了。</h4>
<h4></h4>
<h4>依照網路上解決方式:<a href="https://www.itread01.com/content/1545046022.html">https://www.itread01.com/content/1545046022.html</a></h4>
<h2>SSH快速版(簡單化)</h2>
<h4>撰寫人:40823209 顏沐恩            日期:05/27</h4>
<h4>內容:此方法是40823247 許力右指導的，他有發現有更快設定SSH的方式，並教導我如何操作。</h4>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/Hlb_8f1N7zU" title="YouTube video player" width="560"></iframe></p>
<h2>如何開啟leo及reveal</h2>
<h4>撰寫人:40823209 顏沐恩         日期:05/20</h4>
<h4>內容:由於我對於開啟LEO與REVEAL的過程不是很熟悉，故有請教同學40823247 許力右指導。</h4>
<h4><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/D-FKhdyYLzk" title="YouTube video player" width="560"></iframe></h4>
<h2>OBS黑頻問題</h2>
<p>打開OBS時黑頻</p>
<p><img alt="" height="375" src="/images/obs1.png" width="563"/></p>
<p>1.先複製應用程式的路徑</p>
<p><img alt="" height="377" src="/images/obs2.png" width="566"/></p>
<p>2.到顯示器裡的圖形設定</p>
<p><img alt="" src="/obs3"/><img alt="" height="339" src="/images/obs3.png" width="564"/></p>
<p>3.將路徑貼上去</p>
<p><img alt="" height="375" src="/images/obs4.png" width="563"/></p>
<p><img alt="" height="373" src="/images/obs5.png" width="560"/></p>
<p>4.開啟省電模式並儲存</p>
<p><img alt="" height="373" src="/images/obs6.png" width="560"/></p>
<p><img alt="" height="373" src="/images/obs7.png" width="560"/></p>
<p></p>
<p></p>
<p></p>